.employmen {
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    padding: 94px 0;
    margin: 0 auto;
  }
}

/* employmen-list */

.employmen-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -15px;
  @media screen and (min-width: 768px) {
    max-width: 768px;
    justify-content: center;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    margin-bottom: 50px;
  }
  &__item {
    margin-bottom: 15px;
    @media screen and (min-width: 768px) {
      max-width: 768px;
      margin-bottom: 0;
    }
    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  &__btn {
    font-family: inherit;
    @include font(16px, 1.62, 500);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--bottom-title-color);
    background-color: var(--title-link-color);
    cursor: pointer;
    padding: 6px 22px;
    background-color: #f5f4fa;
    border-radius: 4px;
    border: none;
    transition: var(--time-animation) var(--timing-animation);
    &:hover,
    &:focus {
      color: var(--title-link-color);
      background-color: var(--active-link-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}

// employmen-list-bottom

.employmen-list-bottom {
  margin-top: 40px;
  @media screen and (min-width: 768px) {
    max-width: 768px;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
    @media screen and (min-width: 1200px) {
      max-width: 1200px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: 768px) {
      max-width: 768px;
      width: calc((100% / 2 - 30px));
      margin-left: 30px;
      margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
      max-width: 1200px;
      width: calc((100% / 3 - 30px));
      margin-left: 30px;
      margin-bottom: 30px;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    height: 100%;

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
}

/* employmen-inner */

.employmen-inner {
  position: relative;
  overflow: hidden;
  &__text {
    position: absolute;
    top: 0;
    background-color: rgba(33, 150, 243, 0.9);
    @include font(18px, 1.56, null);
    color: #ffffff;
    height: 100%;
    padding: 63px 24px;
    transform: translateY(101%);
    transition: transform var(--time-animation) linear;
    .employmen-list-bottom__link:hover & {
      transform: translateY(0%);
    }
  }
}

/* employmen-content */

.employmen-content {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px;
  flex-grow: 1;

  &__title {
    @include font(18px, 2, 700);
    letter-spacing: 0.06em;
    color: var(--bottom-title-color);
    margin-bottom: 4px;
  }

  &__text {
    @include font(16px, 1.88, null);
    color: var(--header-mail-tel-body-color);
  }
}
