.footer {
  background-color: var(--footer-background-color);
  padding-bottom: 60px;
  padding-top: 60px;

  .container {
    @media screen and (min-width: 1200px) {
      max-width: 1200px;
      display: flex;
      align-items: baseline;
    }
  }
}

/* footer-link */

.footer-link-icon {
  @media screen and (min-width: 768px) {
    max-width: 768px;
    display: flex;
    align-items: baseline;
  }
}

.footer-link {
  @media screen and (min-width: 768px) {
    max-width: 768px;
    margin-left: 76px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    margin-left: 0;
  }

  &.logo {
  }
  &__logo-main {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    @media screen and (min-width: 1200px) {
      max-width: 1200px;
      text-align: left;
    }
  }
  &__logo-top {
    color: var(--active-link-color);
  }

  &__logo-bottom {
    color: var(--title-link-color);
  }
}

/* footer-list */

.footer-list {
  margin-bottom: 60px;
  &__item {
    display: block;
  }
  &.adress {
  }
  &__adress {
    line-height: 1.71;
    display: block;
    text-align: center;
    color: var(--title-link-color);
    margin-bottom: 8px;
    @media screen and (min-width: 1200px) {
      max-width: 1200px;
      margin-bottom: 9px;
      text-align: left;
    }
  }
  &__mail {
    text-align: center;
    line-height: 1.71;
    display: block;
    color: var(--footer-mail-tel-color);

    margin-bottom: 8px;
    @media screen and (min-width: 1200px) {
      max-width: 1200px;
      margin-bottom: 9px;
      text-align: left;
    }
  }
  &__tel {
    display: block;
    text-align: center;
    line-height: 1.71;
    color: var(--footer-mail-tel-color);
    @media screen and (min-width: 1200px) {
      max-width: 1200px;
      text-align: left;
    }
  }
}

/* footer-icon */

.footer-icon {
  @media screen and (min-width: 768px) {
    max-width: 768px;
    margin-left: 165px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    margin-left: 70px;
  }
  &__title {
    @include font(null, 1.14, 700);
    text-transform: uppercase;
    color: var(--title-link-color);
    margin-bottom: 20px;
    text-align: center;

    @media screen and (min-width: 1200px) {
      max-width: 1200px;

      text-align: left;
    }
  }
}

/* footer-soc-list */

.footer-soc-list {
  display: flex;
  margin-bottom: 60px;
  justify-content: center;
  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--title-link-color);
    transition: var(--time-animation) var(--timing-animation);
    &:hover,
    &:focus {
      background-color: var(--active-link-color);
    }
  }

  &__icon {
    fill: currentColor;
  }
}

/* footer-subscription */

.footer-subscription {
  &__title {
    text-align: center;
    @include font(null, 1.14, 700);
    text-transform: uppercase;
    color: var(--title-link-color);
    margin-bottom: 20px;
    @media screen and (min-width: 1200px) {
      max-width: 1200px;
      text-align: left;
    }
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    margin-right: 0;
    margin-left: auto;
  }
}

/* footer-form */

.footer-form {
  &__input {
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    outline: none;
    transition: var(--time-animation) var(--timing-animation);
    margin-bottom: 20px;
    width: 100%;
    @include font(null, 1.25, null);
    @media screen and (min-width: 768px) {
      max-width: 768px;
      width: 450px;
      display: block;
      margin: 0 auto 20px auto;
    }
    @media screen and (min-width: 1200px) {
      max-width: 1200px;
      width: 358px;
      display: inline;
    }
    &:focus {
      border-color: var(--active-link-color);
      background-color: transparent;
      color: var(--title-link-color);
    }
    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }
  }
}

.footer-form-btn {
  display: block;
  margin: 0 auto;
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    display: inline;
    margin-left: 12px;
  }
  &.big-btn {
  }
  position: relative;
  width: 200px;
  height: 50px;

  padding: 10px 62px 10px 29px;
  &__icon {
    position: absolute;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--title-link-color);
  }
}
