.header {
  border-bottom: 1px solid #ececec;
  .container {
    display: flex;
    align-items: center;
  }
}

/* header-nav */

.header-nav {
  display: flex;
  align-items: center;

  & .logo {
  }
  &__logo-top {
    color: var(--active-link-color);

    padding-top: 16px;
    padding-bottom: 16px;
    @media screen and (min-width: 768px) {
      max-width: 768px;
      padding-top: 26px;
      padding-bottom: 26px;
      margin-right: 88px;
    }
    @media screen and (min-width: 1200px) {
      max-width: 1200px;
      margin-right: 93px;
      padding-top: 24px;
      padding-bottom: 25px;
    }
  }
  &__logo-bottom {
    color: var(--header-logo-color);
  }
}

/* header-list */

.header-list {
  display: none;
  @media screen and (min-width: 768px) {
    max-width: 768px;
    display: flex;
  }
  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__link {
    position: relative;
    font-family: inherit;
    @include font(14px, 1.14, 500);
    letter-spacing: 0.02em;
    color: var(--bottom-title-color);
    padding: 32px 0;
    transition: var(--time-animation) var(--timing-animation);
    &:hover,
    &:focus {
      color: var(--active-link-color);
    }
  }
  &__link--active {
    color: var(--active-link-color);
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px;
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--active-link-color);
    }
  }
}

/* header-list-adress */

.header-list-adress {
  display: none;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    display: block;
    margin-left: auto;
    padding-top: 21px;
    padding-bottom: 19px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    display: flex;
    padding: 0;
  }

  &.adress {
  }
  &__mail,
  &__tel {
    display: flex;

    max-width: 768px;
    padding: 0;
    @include font(12px, 1.16, 500);
    @media screen and (min-width: 1200px) {
      align-items: center;
      max-width: 1200px;
      @include font(14px, 1.14, 500);
      padding: 32px 0;
    }
  }
  &__tel {
    margin-top: 10px;
    @media screen and (min-width: 1200px) {
      max-width: 1200px;
      margin-left: 50px;
      margin-top: 0;
    }
  }
  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}

// menu-open-btn

.menu-open-btn {
  margin-left: auto;
  border: none;
  background-color: transparent;
  padding-top: 10px;
  cursor: pointer;
  fill: var(--bottom-title-color);
  transition: var(--time-animation) var(--timing-animation);
  &:hover,
  &:focus {
    fill: var(--active-link-color);
  }
  &__icon {
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
    display: none;
  }
}

// mob-menu

.mob-menu {
  position: fixed;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  height: 100vh;
  width: 100vw;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  transition: var(--time-animation) var(--timing-animation);

  .container {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    overflow-y: scroll;
    @media screen and (min-width: 480px) {
      margin-left: 0;
    }
  }
  &.is-hidden {
    transform: translateX(50%);
  }
  @media screen and (min-width: 480px) {
    width: 100vw;
    height: 100vh;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
    display: none;
  }
}

// menu-close-btn

.menu-close-btn {
  position: absolute;
  display: block;
  padding: 0;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  fill: var(--bottom-title-color);
  transition: var(--time-animation) var(--timing-animation);
  &:hover,
  &:focus {
    fill: var(--active-link-color);
  }
  &__icon {
  }
}

// mob-menu-list

.mob-menu-list {
  margin-bottom: 32px;
  &__item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  &__link {
    @include font(40px, 1.18, 500);
    color: var(--bottom-title-color);
    transition: var(--time-animation) var(--timing-animation);
    &:hover,
    &:focus {
      color: var(--active-link-color);
    }
  }
  &__link--active {
    color: var(--active-link-color);
  }
}

// mob-menu-adress

.mob-menu-adress {
  &__item {
  }
  &__mail {
    display: block;
    @include font(24px, 1.17, 500);
    margin-bottom: 64px;
  }
  &__tel {
    display: block;
    @include font(24px, 1.17, 500);
    margin-bottom: 32px;
    @media screen and (min-width: 480px) {
      max-width: 480px;
      @include font(34px, 1.18, 500);
    }
  }
}

// mob-menu-soc-list

.mob-menu-soc-list {
  display: flex;
  &__item {
    &:not(:last-child) {
      padding-right: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
    &:not(:first-child) {
      padding-left: 10px;
    }
  }
  &__link {
    @include font(12px, 1.22, 500);
    color: var(--active-link-color);
    @media screen and (min-width: 480px) {
      max-width: 480px;
      @include font(18px, 1.22, 500);
    }
  }
}

.no-scroll {
  overflow: hidden;
}
